@import url("webfont.css");

html, body {
	background-color: #205FC6;
	color: white;
	font-family: "Determination Sans", Fixedsys, sans-serif;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
}

#rumbling_sans {
	display: block;
	position: fixed;
	width: 150%;
	height: 150%;
	overflow: hidden;
}


@font-face {
    font-family: 'Determination Sans';
    src: url('DeterminationMonoWeb.woff') format('woff');
}
